[class*="col-"]
  {width: 100%;
    }@media only screen and (max-width: 600px)
    {[class*="col-"]
    {float: left;
    padding: 10px;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}}

body{
  background-color: blue;
  margin: 0;
  }
  @media only screen and (min-width: 600px)
  {body {
    background-color: red;
    margin: 0;
    }
  }
#header {
  min-height: 150px;
  background-image: url('../afbeeldingen/wapenschild.png');
  background-size:10%;
  background-repeat: no-repeat;
  background-color: blue;
  background-position: 5px 5px;
  padding:10px;
}

h1 {
  font-family: 'Supermercado One', cursive;
  color: yellow;
  text-shadow: black 5px 5px 5px;
  text-align: center;
  font-size: 50px;
}

section {
  display: inline-block;
  padding:5px;
}
#feiten {
    background-color: yellow;
    float:left;
}

#attractie {
  background-color: lightyellow;
  float:left;
  padding: 5px;
}

#kapel {
  float: right;
  margin-left: 10px;
  width: 50%;
}
#boer {
  float: right;
  margin-left: 10px;
  width: 50%;
}

p {
  text-align: justify;
}

footer {
  min-height: 50px;
  background-color: blue;
  clear: left;
  font-size: 10px;
  color: yellow;
}

h3 {
  text-decoration: underline;
  color: blue;
  text-align: center;
}
ul {
  margin:0;
  list-style-type:none;
  text-align: left;
}
