header {
  background-color: red;
  height: 100px;
}

h1 {color: yellow;

}
table {
  border:solid 2px;
  border-color: black;
  width: 60%;
}

#cel1 {
  background-color: royalblue;
}

#cel2 {
  background-color: powderblue;
}

#cel3 {
  background-color: saddlebrown;
}

#cel4{
  background-color: burlywood;
}

#cel5 {
  background-color: darkorchid;
}

#cel6 {
  background-color: plum;
}

#cel7 {
  background-color: darkblue;
  color: orange;
}

#cel8 {
  background-color: cornflowerblue;
}

#cel9 {
  background-color: forestgreen;
}

#cel10 {
  background-color: darkseagreen;
}

#cel11 {
  background-color: antiquewhite;
}

#cel12 {
  background-color: seashell;
}

#cel13 {
  background-color : darkslateblue;
}

#cel14 {
  background-color : violet;
}

#cel15 {
  background-color : lightpink;
}

#cel16 {
  background-color : gold;
}

footer {
  background-color: rgba(255, 0, 0, 0.5);
  color: yellow;
  height:75px;
}
